.branchView {
  grid-column: 3 / 5; 
  /* This will span the third and fourth columns */
  /* grid-row: 2; Positioned in the second row */
  display: grid;
  grid-template-columns: 200px 200px; /* Within the branch view, there are two columns */
  grid-template-rows: repeat(3, 2fr); /* Row height will adjust to content */
  gap: 10px;
  background-color: #e9e9e9;
  padding: 10px;
  /* ... other styles ... */
}

.branchTitle {
  /* Styling for the title at the top */
  margin-bottom: 10px; /* Add space below the title */
  grid-template-columns: repeat(2, 1fr);
  display: top;
}