.segmentView {
    display: grid;
    grid-template-rows: 200px 100px;
    /* Adjust the styling to match the layout */
  }

  .SegmentTitle{
  margin-bottom: 20px; /* Add space below the title */
  grid-template-rows: 1fr;
  display: top;
  }
  
  .segmentView::-webkit-scrollbar, .branchView::-webkit-scrollbar {
    width: 5px;
  }
  
  .segmentView::-webkit-scrollbar-thumb, .branchView::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
  }